@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

body { margin: 0; overflow: hidden; }
canvas { display: block; }

#hud {
    display: flex;
    gap: 8px;
    
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-bottom: 16px;

    justify-content: center;
    align-items: center;

    width: fit-content;
    font-family: "Lexend Deca", sans-serif;

    --background-color: white;
    --shadow-px: 2px;

    padding: 8px;
    background-color: var(--background-color);

    
    box-shadow: black 0 0 0 var(--shadow-px), var(--background-color) 0 0 0 calc(var(--shadow-px)*2 - 1px), black 0 0 0 calc(var(--shadow-px)*3 - 1px);
    font-size: .8rem;

    img {
        object-fit: cover;
        image-rendering: pixelated;
        width: 24px;
    }

    select {
        background-color: black;
        color: white;
        display: flex;

        padding: 2px 4px;
        border: 2px black solid;
        outline: none;
        border-radius: none;

        option {
            color: black;
            background-color: white;

            
        }option:hover {
            background-color: red;
        }
    }

}
